.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.formContainer {
  max-width: 600px;
  max-height: 400px;
  gap: 20px;
  border-radius: 6px;
  background-color: #cbcbcb;
  padding: 40px 40px 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}