.container {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  background-color: var(--container);
  height: 100dvh;
  overflow: hidden;
}

.formContainer {
  max-width: 600px;
  max-height: 400px;
  gap: 20px;
  border-radius: 2px;
  background-color: var(--background);
  padding: 40px 40px 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader {
  height: 95dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}