* {
  transition: all ease-in-out .3s;
}

@keyframes fillColorChange {
  0% {
    fill: var(--container)
  }
  100% {
    fill: var(--container)
  }
}

svg {
  animation: fillColorChange .3s ease-in-out forwards;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}