$primary: #ED8D35;
$background: #cbcbcb;
$container: #ffffff;
$container_dark: #3E3E3E;
$text_light: #ffffff;
$text_dark: #000000;
$shadow_dark: rgba(0, 0, 0, 0.32);

body {
  margin: 0;
  padding: 0;
}