:root {
  --primary: #ED8D35;
  --background: #cbcbcb;
  --container: #ffffff;
  --text-light: #ffffff;
  --text-dark: #000000;
  --text: #000000;
  --shadow-dark: rgba(0, 0, 0, 0.32);
}

[data-theme="dark"] {
  --primary: #BB6F29;
  --background: #303030;
  --container: #3E3E3E;
  --text: #ffffff;
  --shadow-dark: rgba(255, 255, 255, 0.32);
}