.container {
  display: flex;
  flex-direction: column;
  flex: 1;

  .title {
    padding: 2px 10px;
    font-size: .8em;
    font-family: sans-serif;
    border-radius: 10px;
    color: var(--text_light);
  }

  .input:focus ~ .label, /* фокус на input */
  .input:not(:placeholder-shown) ~ .label /* в input есть значение */
  {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }

  .baseInput {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #cbcbcb;
    outline: none;
    transition: all .2s ease-in-out;

    &:focus {
      border: 2px solid #ffa05c;
    }

  }

}



